body{
    background-color: black;
    text-align: center;
    align-content: center;
}

.header{
    font-family: "Courier";
    color: chartreuse;
    font-size: 60px
}

.buttons{
    display: flex
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.ttt3{
    font-family: "Courier";
    font-weight: 1000;
    border: 0;
    outline: none;
    font-size: 70px;
    margin: 10px;
    color: chartreuse;
    background-color: black;
    border: 2px solid chartreuse;
    padding: 30px 30px;
    cursor: pointer;
    border-radius: 10px;
}

.ttt3:hover{
    color: black;
    background: chartreuse;
}


.ttt4{
    font-family: "Courier";
    font-weight: 1000;
    border: 0;
    outline: none;
    font-size: 70px;
    margin: 10px;
    color: chartreuse;
    background-color: black;
    border: 2px solid chartreuse;
    padding: 30px 30px;
    cursor: pointer;
    border-radius: 10px;
}

.ttt4:hover{
    color: black;
    background: chartreuse;
}

.ttt5{
    font-family: "Courier";
    font-weight: 1000;
    border: 0;
    outline: none;
    font-size: 70px;
    margin: 10px;
    color: chartreuse;
    background-color: black;
    border: 2px solid chartreuse;
    padding: 30px 30px;
    cursor: pointer;
    border-radius: 10px;
}

.ttt5:hover{
    color: black;
    background: chartreuse;
}